{% extends "base.html" %}
{% block main_content %}
        <script type="text/javascript" src="{{ url_for('static', filename='socket.io.js') }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript">
        (function(){
            var socket = io.connect('http://localhost:8080/default');
            var file_uploader = document.getElementById('file_uploader');
            var fileReader;

            socket.on('connect', function(){
                console.log('connect');
            })

            socket.on('stream', function() {
                /*if(uploaded_file.webkitSlice) 
                    f = uploaded_file.webkitSlice(Place, Place + Math.min(524288, (uploaded_file.size - Place)));
                else
                    f = uploaded_file.mozSlice(Place, Place + Math.min(524288, (uploaded_file.size - Place)));*/
                var f = uploaded_file.slice();

                fileReader.readAsBinaryString(f)
            });

            socket.on('error', function(data) {
                alert(data);
            });

            //socket.emit('localized');I//
            if(!window.File || !window.FileReader) {
                alert('please use a modern browser that implements File and FileReader API');
                return false;
            }

            var uploaded_file;

            function on_file_chose(evt) {
                fileReader = new FileReader();
                console.log(evt);
                fileReader.onload = function(evt) {
                    console.log('onload: ');
                    console.log(evt);
                    socket.emit('upload', {chunk: evt.target.result});
                }

                uploaded_file = evt.target.files[0]

                socket.emit('start', {size: uploaded_file.size, name: file_uploader.value});
            }

            file_uploader.addEventListener('change', on_file_chose);
        })();
        $(function(){
            var $container = $('#container');

            var gCurPage = 0;// this will maintain the current page number

            // since we want to load from a JSON with a custom page indicator we have to
            // indicate pathParse, template
            $container.infinitescroll({
                    nextSelector: 'nav a:first',
                    navSelector:  'nav',
                    itemSelector: '#container img.item',
                    debug:        true,
                    dataType:     'json',
                    path:         function(curPage) {
                        gCurPage = curPage;
                        return '/gallery/json';
                    },
                    template:     function(data) {
                        console.log(data);
                        return '<h1>porcodio ' + gCurPage + ' </h1>';
                    }
                },
                function(newElement) {
                    var $elements = $(newElement);
                    $container.masonry('appended', $elements);
                }
            );
        });
        </script>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <ul>
                        <li>miao</li>
                        <li>miao</li>
                        <li>miao</li>
                    </ul>
                </div>
                <div class="span10">
                        <li>miao</li>
                        <li>miao</li>
                        <li>miao</li>
                </div>
            </div>
        </div>
{% endblock %}
