<!DOCTYPE html>
<html>
    <head>
        <title>Gallery</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    </head>
    <body>
        <style>
        .item {
            float:left;
            width:220px;
            margin:10px;
        }
        </style>
        <input id="file_uploader" type="file" name="file"/>
        <script type="text/javascript" src="{{ url_for('gallery.static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('gallery.static', filename='jquery.masonry.min.js') }}"></script>
        <ul id="container">
            {% for image in images %}
            <img class="item" src="{{ url_for('custom_static', filename=image.path) }}"/>
            {% endfor %}
        </ul>
    </body>
</html>
